/* GLOBAL */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fdfdfd;
  /* hyphens: auto;
  -webkit-hyphens: auto; */
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--primaryColor);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

details a {
  text-decoration: underline;
  transition: color 0.3s ease;
}

details a:hover {
  color: var(--grey);
}

.right-align {
  text-align: right;
}

/* UN / PERSONALIZED */
main.hidden {
  display: none;
}

/* TITLE */
#surtitle {
  font-size: var(--fontsizeS);
}

h1 {
  font-size: var(--fontsizeTitle);
}

h2 {
}

h3 {
  font-size: var(--fontsizeM);
  margin-top: var(--gapXXL);
  margin-bottom: var(--gapM);
}

/* info */
details,
.info {
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
  margin-top: var(--gapM);
  padding: var(--gapS);
  border-radius: var(--borderRadius);
}

details ::selection {
  background-color: var(--primaryTextColor) !important;
}

/* details / summary html elements */
details {
  width: var(--detailsWidth);
}

summary,
.info {
  font-size: var(--fontsizeM);
  padding-left: var(--gapXL);
  cursor: pointer;
}

summary h3,
.info h3 {
  margin: 0;
  display: inline-block;
}

details p {
  padding: var(--gapS) var(--gapL);
  margin: 0;
}
details p:last-of-type {
  padding: var(--gapL) var(--gapL);
}

/* consent popup / minified button */
#consent-icon {
  background-color: var(--primaryColor);
  border-radius: var(--consentButtonHeight);
  width: var(--consentButtonHeight);
  height: var(--consentButtonHeight);
  position: fixed;
  bottom: 0;
  left: 0;
  /* margin: var(--gapXL); */
  /* margin: var(--gapM); */
  margin: var(--gapL);
  padding: 0;
  box-shadow: var(--boxShadow);
  overflow: hidden;
  transition: background-color 0.3s ease;
}

#consent-icon:hover {
  background-color: grey;
}
#consent-icon button:hover {
  background-color: transparent;
}

#consent-icon button {
  margin: 0;
  padding: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#consent-icon svg {
  height: 100%;
  width: 100%;
}

/* consent popup / general & layout */
.consent-ui {
  background-color: white;
  box-shadow: var(--boxShadow);
}

#consent-popup {
  width: min(90%, 800px);
  position: fixed;
  bottom: 50vh;
  left: 50vw;
  height: 500px;
  overflow: hidden;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  padding: 0;
  color: black;
}

#consent-popup > * {
  flex: 0 0 auto;
}

/* consent popup / text */
#consent-popup__personalization,
#consent-popup__settings p {
  padding: 0 var(--gapXL);
}

#consent-popup b {
  display: block;
  padding: 1em 0;
}

#consent-popup b:first-of-type {
  padding-top: 0;
}

#consent-popup p {
  font-size: var(--fontsizeS);
  padding-bottom: 1em;
}

/* consent popup / links */
.consent-popup__link {
  display: block;
  font-size: var(--fontsizeS-small);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.consent-popup__link:hover {
  color: var(--grey);
}

.consent-popup__link:first-of-type {
  padding-top: var(--gapL);
}

/* consent popup / content */
#consent-popup__personalization,
#consent-popup__settings {
  flex: 1 1 auto;
  overflow: scroll;
}

/* consent popup / settings */
#consent-popup__settings {
  display: flex;
  flex-direction: column;
}

#consent-popup__settings p {
  flex: 1 1 auto;
}

/* consent popup / switches */
#toggle-switches {
  flex: 0 1 auto;
  display: flex;
  padding: 0;
  border-top: var(--borderWidth) solid var(--lightGrey);
}

#toggle-switches > * {
  flex: 1 1 25%;
  border-left: var(--borderWidth) solid var(--lightGrey);
  text-align: center;
}

#toggle-switches > *:first-child {
  border: none;
}

#toggle-switches .label {
  font-size: var(--fontsizeS-small);
  font-weight: bold;
  padding: var(--gapM);
}

@media screen and (max-width: 600px) {
  #consent-popup p {
    font-size: var(--fontsizeS-XS);
  }
  .consent-popup__link {
    font-size: var(--fontsizeS);
  }

  #consent-popup__settings p {
    margin-bottom: 0;
  }

  .toggle-switch {
    padding-bottom: var(--gapL);
  }

  #toggle-switches .label {
    font-size: var(--fontsizeS);
  }

  #consent-popup__menu button,
  #consent-popup__buttons button {
    font-size: var(--fontsizeS-XS);
  }
}

/* consent popup / buttons */
#consent-popup__menu {
  row-gap: 0px;
  column-gap: 0px;
  border-bottom: var(--borderWidth) solid var(--lightGrey);
}

#consent-popup__menu button {
  padding: var(--gapL);
  margin-bottom: -1px;
  flex: 1 0 auto;
  border-bottom: var(--borderWidthActive) solid transparent;
}

#consent-popup__menu .active {
  border-color: black;
}

#consent-popup__buttons {
  padding: var(--gapL);
  border-top: var(--borderWidth) solid var(--lightGrey);
}

#consent-popup__buttons button {
  border: var(--borderWidth) solid var(--grey);
  padding: var(--gapM);
  border-radius: var(--borderRadiusS);
}

#consent-popup__menu,
#consent-popup__buttons,
button {
  font-size: var(--fontsizeS);
  text-align: center;
}

#consent-popup__buttons #accept {
  border-color: black;
  background-color: black;
  color: white;
}

#consent-popup__buttons #accept:hover {
  background-color: var(--grey);
}

/* global buttons */
button {
  background: none;
  outline: none;
  border: none;
}

button:hover {
  background-color: var(--lightGrey);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* hidden */
.hidden {
  display: none !important;
}

#consent-popup.hidden {
  /* transform: translateY(100px);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: transform 0.3s ease, visibility 0.3s ease 0.3s;
  transition: transform 0.3s ease, opacity 0.3s ease 0.3s,
    visibility 0.3s ease 0.6s; */
}

/* footer */
footer {
  margin-top: var(--gapXXL);
  margin-bottom: var(--gapM);
  column-gap: var(--gapM);
  flex-wrap: nowrap !important;
}

/* COLUMNS */

.term {
  border-radius: var(--borderRadius);
  padding: 0.5em 0.5em 0.5em 0.75em;
  display: block;
}

.term div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gapM);
  row-gap: var(--gapM);
}

.columns-space-between {
  justify-content: space-between;
}

.columns-2 > * {
  flex: 1 1 calc(50% - (1 * var(--gapM) / 2));
}

.columns-3 > * {
  flex: 1 1 calc((100% / 3) - (2 * var(--gapM) / 3));
}

.columns-4 > * {
  flex: 1 1 calc(25% - (3 * var(--gapM) / 4));
}

@media screen and (max-width: 600px) {
  #recommendations-1 * {
    flex: 1 1 calc(100% - (1 * var(--gapM)));
  }

  #unpersonalized .columns-4 > * {
    /* flex: 1 1 calc((100% / 2) - (2 * var(--gapM) / 2)); */
    flex: 1 1 calc((100% / 1) - (2 * var(--gapM) / 1));
  }
}

.columns-5 > * {
  flex: 1 1 calc(20% - (4 * var(--gapM) / 5));
}

.columns-2 h4,
.columns-3 h4,
.columns-4 h4,
.columns-5 h4 {
  min-height: calc(2em + var(--gapXXL));
  padding-bottom: var(--gapM);
}

.columns-2 h4 {
  font-size: var(--fontsizeXL);
}

.columns-3 h4 {
  font-size: var(--fontsizeL);
}

.columns-2 h5,
.columns-2 .columns-2 h4,
.columns-4 h4 {
  font-size: var(--fontsizeM);
}

.columns-3 h5,
.columns-5 h4 {
  font-size: var(--fontsizeS);
}

.columns-4 h5,
.columns-2 .columns-2 h5,
.columns-5 h5 {
  font-size: var(--fontsizeXS);
}
