.p {
    
    
    color: black;

  }

.p4 {

  top:-300px;


}
  
  p::first-line {
    
    font-size: 10px;
    color: #fcfcf9;
    

    
  }

 

  body {background-color: black;}
 
  @media only screen and (max-width: 800px) {
    body {
      background-color: rgb(255, 251, 251);
      font-size: 50px;
    }
  }

  
  .a {
    text-decoration: none;
    font-family: Anton;
    font-size: 100px;
    color: hsl(74, 100%, 50%);
    

    border:black;
    padding: top; 
    width: 300px;
    resize: none;
    overflow: none;
   

    }

  .a:link {
    text-decoration: none;
    font-family: Anton;
    font-size: 100px;
    color: hsl(74, 100%, 50%);
    

    border:black;
    padding: top; 
    width: 300px;
    resize: none;
    overflow: none;
   

    }


    .a1 {
      
      text-decoration: none;
      font-family: Anton;
      font-size: 50px;
      color: black;
      
  
      border:black;
      padding: top; 
      width: 300px;
      resize: none;
      overflow: none;
     
  
      }


  

 

  