.p {
    font-family: "Anton";
    font-size: 200;
    top: -200;

  }



  a:link {
    text-decoration: none;
    font-family: Anton;
    font-size: 10px;
    color: aqua;
    position: -300px;

   
    padding: 20px; 
    width: 30px;
    resize: vertical;
    overflow: auto;

  }



form {


  font-family: "Anton";
  font-size: 20px;
  border-radius: 10px;
  width: 100%;
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: blue

}
    

fname {


  font-family: "Anton";
  font-size: 20px;
 
  border-radius: 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border-color: blue

}

  
    input[type=text] {

      font-family: "Anton";
      font-size: 20px;
      border-radius: 10px;
      color:blue;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border-color: blue

    
    }
  